body {
    margin: 0;
    padding: 0;
    font-family:'Arial';
}
.nav{
    background-color:black;
    color: #CC8B34;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}
.nav > li{
    display: inline-block;
    padding-right: 50px;
}

.nav > li > a{
    text-decoration: none;
    color: #CC8B34;
}

.nav > li > a:hover {
    color: #ebbe76;
}
nav ul li {
    float: left;
    list-style: none;
    position: relative;
}
nav ul li a {
    background-color:black;
    color: #CC8B34;
    font-size: 14px;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
    text-decoration: none;
}
nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: #CC8B34;
    padding: 10px;
    border-radius: 0px 4px 4px 0px;
}
nav ul li ul li a {
    padding: 12px 0 12px 0;
}
nav ul li ul li a:hover{
    background-color: #ebbe76
}