@font-face {
  font-family: Raleway;
  src: url(Font/Raleway-VariableFont_wght.ttf);
}
body {
  font-family: Raleway;
  background-color: #CC8B34;
  margin: 0;
}

header {
  background-color: #CC8B34;
  padding: 10px;
}
main{
  max-width: 1200px;
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 30px;
}
main div {
  overflow: hidden;
  background-color: antiquewhite;
  border-radius: 6px;
  border: 16px solid #000;
}
main .AboutMe {
  text-align: center;
  grid-column: 3 / span 2;
  grid-row: span 2;
}
main .Photo{
  grid-column: 1 / span 2;
  grid-row:1 / span 2;
}
main .Video{
  grid-column: 2 / span 4;
  grid-row: 3 / span 2;
  grid-column-start: 1;
  text-align: center;
}
main .Education{
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: span 2;
}
main .Quote{
  text-align: center;
  grid-column: 3 / span 2;
  grid-row: span 2;
}
main .AshleyKeefe {
  text-align: center;
  grid-column: 1 / span 6;
  grid-row: span 1;
}
main .Intro {
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 2 / span 2;
}
main .HomePhoto {
  text-align: center;
  grid-column: 3 / span 4;
  grid-row: 2 / span 2;
}
main .MUPhoto {
  text-align: center;
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}
main .Reflection {
  text-align: center;
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
}
  main .Academics {
    text-align: center;
    grid-column: 3 / span 3;
    grid-row: 3 / span 2;
}
main .CareerGoals {
  text-align: center;
  grid-column: 1 / span 6;
  grid-row: 5 / span 1;
}
footer{
  margin: 60px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 20px;
  gap: 50px;
  background-image: url("https://AshleyNKeefe.github.io/islt_7310/footer-background.jpg")
}
main .Projects {
  text-align: center;
  grid-column: 1 / span 6;
  grid-row: 1 / span 3;
}
footer div {
  color: #CC8B34;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
}
footer .Footer{
  grid-column: 1 / span 4;
  grid-row: span 2;
}
.zoom-on-hover {
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease; 
}

.zoom-on-hover img {
  display: block;
  width: 100%;
  height: auto;
}

.zoom-on-hover:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 960px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 20px;
    padding: 10px;
    margin: 30px auto;
  }


  main .AboutMe,
  main .Photo,
  main .Video,
  main .Education,
  main .Quote,
  main .AshleyKeefe,
  main .Intro,
  main .HomePhoto,
  main .MUPhoto,
  main .Reflection,
  main .Academics,
  main .Projects,
  main .CareerGoals{
    grid-column: 1 / span 2;
  }

  footer {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
    margin: 30px auto;
  }

}
@media print {
  body{
    background:transparent !important;
    color: #000 !important;
    box-shadow:none !important;
    text-shadow: none !important;
    font-family: serif !important;
}

  header, nav, main .Video, main .Photo {
    display:none;
  }
  main {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
}
  main .AboutMe{
    grid-column: 1 / span 8;
    grid-row: 1 / span 1;
  }
  main .Education{
    grid-column: 3 / span 6;
    grid-row: 2 / span 1;
    align-items: center;
  }
  main .Quote{
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    align-items: center;
  }
  a::after{
    content: " (" attr(href)")";
  }
}
