body {
    margin: 0;
    padding: 0;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    text-indent: 0;
  }
  
  p:not(:first-child) {
    text-indent: 1.5em;
  }
  
  p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ebbe76;
  }